<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <header class="container">
        <nav>
            <a id="home-link" href="../index.html">
                <img style="height: 3em;" src="../icons/aficons/operationg.png" alt="pmp logo">
                <p class="home-text">Project MP</p>
            </a>
            <ul>
                <li><a href="./login.html">Log In</a></li>
                <li><a href="./services.html">Services</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main class="container">
        <div class="form-container">
            <h1>Contact</h1>
            <form>
                <input type="text" placeholder="Your name please" required>
                <input type="text" placeholder="A contact email" required>
                <select name="category">
                    <option value="request-feature">Request a feature</option>
                    <option value="product-support">Product Support</option>
                    <option value="bug-report">Report a bug</option>
                    <option value="other">Other</option>
                </select>
                <input type="text" placeholder="How can I help?" required>
                <button class="form-btn" type="submit">Connect</button>
            </form>
        </div>
    </main>
    <footer class="container">
        Built with ☕.
    </footer>
</body>

</html>