<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <header class="container">
        <nav>
            <a id="home-link" href="../index.html">
                <img style="height: 3em;" src="../icons/aficons/operationg.png" alt="pmp logo">
                <p class="home-text">Project MP</p>
            </a>
            <ul>
                <li><a href="">Log In</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main class="container">
        <div class="form-container">
            <h1>Register</h1>
            <form>
                <input type="text" placeholder="Enter Your First Name" name="fname" required>
                <input type="text" placeholder="Enter Your Last Name" name="lname" required>
                <input type="text" placeholder="Enter Your Email" name="email" required>
                <input type="password" placeholder="Enter Your Password" name="psw" required>
                <input type="password" placeholder="Confirm Your Password" name="psw" required>
                <label for="dob">Date of Birth</label>
                <input type="date" id="dob">
                <button class="form-btn" type="submit">Register</button>
            </form>
        </div>
    </main>
    <footer class="container">
        Built with ☕.
    </footer>
</body>

</html>