<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <header class="container">
        <nav>
            <a id="home-link" href="../index.html">
                <img style="height: 3em;" src="../icons/aficons/operationg.png" alt="pmp logo">
                <p class="home-text">Project MP</p>
            </a>
            <ul>
                <li><a href="./login.html">Log In</a></li>
                <li><a href="./services.html">Services</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main class="container">
        <div class="sign-up">
            <div class="sign-up-content">
                <div id="left">
                    <strong>Sign up now!</strong>
                    <p class="pmp-desc">Optimize your team's efficiency and workflow by registering today!</p>
                </div>
                <div id="right">
                    <a href="./register.html"><button id="sign-btn" class="secondary">Sign up</button></a>
                </div>
            </div>
        </div>
    </main>
    <footer class="container">
        Built with ☕.
    </footer>
</body>

</html>