/* Footer */
footer {
    background-color: #1f2937;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    bottom: 0;
    position: absolute;
    padding-left: inherit;
    padding-right: inherit;
    left: 0;
    right: 0;
}