/* Main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    background-color: white;
}

main h2 {
    font-size: 36px;
    font-weight: 900;
    columns: #1f2937;
}

/* Features */
.feature-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3em 0 6em 0;
    gap: 5em;
    padding: 1em;
}

.feature {
    text-align: center;
    max-width: 12.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.feature-img {
    width: 160px;
    height: 160px;
    transition: transform 0.3s;
}

.feature-img:hover {
    transform: translateY(-20px);
}

/* Forms */
.form-container {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    padding: 3em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    width: 10em;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px 0;
    width: 100%;
}

input,
select {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.form-btn {
    background-color: #3882F6;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    width: 75%;
    font-size: 18px;
    transition: background-color 0.2s ease;
}

#register-link {
    color: rgba(0, 0, 0, 0.574);
    font-size: 0.97em;
    padding-top: 1em;
}

#register-link:hover {
    color: black;
    text-decoration: underline;
}

select {
    height: 3em;
    padding: 10px;
    border-radius: 4px;
    margin: 10px 0;
    width: 100%;
}

/* xs */
@media (min-width: 475px) {
    .form-container {
        width: 20em;
    }
}

/* sm */
@media (min-width: 640px) {
    .form-container {
        width: 30em;
    }
}

/* lg */
@media (min-width: 1024px) {
    .form-container {
        width: 50em;
    }
}

/* xl */
@media (min-width: 1280px) {
    .form-container {
        width: 70em;
    }
}